<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<AdminEmail>hussein@cs.uct.ac.za</AdminEmail>
	<repositoryName>NRF Online dissertation database</repositoryName>
	<description>
		<URL>http://etd.cs.uct.ac.za/</URL>
    	<text>NRF Metadata archive of theses and dissertations from the universities of South Africa</text>
    </description>
    <database>
    	<databaseAddress>//localhost:3306/dba</databaseAddress>
<!--    	<databaseAddress>jdbc:mysql://localhost/dba</databaseAddress>
    	-->
    	<username>dba</username>
    	<password>dba</password>
    </database>
</configuration>
