<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Harvester Control Panel</display-name>

    <servlet>
        <servlet-name>HarvesterControlPanel</servlet-name>
        <servlet-class>HarvesterControlPanel</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HarvesterControlPanel</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>*.css</url-pattern>
    </servlet-mapping>                      

    <!-- Define a Security Constraint on this Application -->
    <security-constraint>
       <web-resource-collection>
          <web-resource-name>Entire Application</web-resource-name>
          <url-pattern>/*</url-pattern>
       </web-resource-collection>
       <auth-constraint>
          <role-name>etdmanager</role-name>
       </auth-constraint>
    </security-constraint>
                                        
    <!-- Define the Login Configuration for this Application -->
    <login-config>
       <auth-method>BASIC</auth-method>
       <realm-name>Application</realm-name>
    </login-config>
                                              
    <!-- Security roles referenced by this web application -->
    <security-role>
       <description>
          The role that is required to log in to the Manager Application
       </description>
       <role-name>etdmanager</role-name>
    </security-role>

</web-app>
