<?xml version="1.0" encoding="UTF-8"?>
<configData>
	<configFile>
		<repositoryURL>http://localhost:8080/OAI-PMH/</repositoryURL>
		<indexDirectory>../config/index</indexDirectory>
		<lastHarvest>2010-07-25T08:21:39Z</lastHarvest>
		<databaseUrl>jdbc:mysql://localhost:3306/dbp</databaseUrl>
		<databaseUsername>dbp</databaseUsername>
		<databasePassword>dbp</databasePassword>
		<servletUrl>http://localhost:8080/</servletUrl>
		<browser>title</browser>
		<browser>affiliation</browser>
		<browser>date</browser>
	</configFile>
</configData>
<!-->http://pubs.cs.uct.ac.za/perl/oai2/http://eprints.ru.ac.za/perl/oai2http://etd.sun.ac.za/oai/request<-->
