<?xml version="1.0"?>


<web-app>   
  <display-name>OAI-PMH Repository</display-name>
  <description>Provides http access to metadata archive</description>

  <servlet>
    <servlet-name>OAI_servlet</servlet-name>
    <description>Provides OAI-PMH functionality for dba</description>
    <servlet-class>OAI_servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAI_servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>

